.Chair {
    &.booking {
        background: red !important;
        color: white;
    }

    &.booked {
        background: grey !important;
        color: white;
        pointer-events: none;
    }
}
