.subTitle {
    font-weight: 700;
    font-size: 30px;
    color: blue;
    background: yellow;
}

.sub-title {
    font-weight: 700;
    font-size: 30px;
    color: red;
    background: yellow;
}

.mt20 {
    margin-top: 20px;
}
